fastapi[all]
alembic==1.11.2
bcrypt==4.0.1
celery
email-validator==2.0.0.post2
emails==0.6
httpcore==0.17.3
httpx==0.24.1
iniconfig==2.0.0
passlib==1.7.4
psycopg2-binary==2.9.6
pydantic==1.8.2
python-jose==3.3.0
python-multipart==0.0.6
requests==2.31.0
SQLAlchemy==2.0.19
starlette==0.27.0
uvicorn[standard]==0.21.0
gunicorn==20.1.0